#div0{
	width : 100.0%;
	height : 100.0%;
	margin : -1px;
	border : 1px solid black;
}
#button0{
	margin : 10px;
	width : 100px;
	height : 75px;
	background-color : none;
}
#radioButton0{
	margin : 10px;
}
#radioButton1{
	margin : 10px;
}
#ocrtext0{
	margin : 10px;
}
#radioButton2{
	margin : 10px;
}
#ocrtext1{
	margin : 10px;
}
#radioButton3{
	margin : 10px;
}
#radioButton4{
	margin : 10px;
}
